<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.louis296.car_sale.mapper.UserMapper">
    <resultMap id="userResult" type="com.louis296.car_sale.model.dao.User">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="result" property="result"/>
    </resultMap>

    <select id="getUserByUserId" parameterType="java.lang.String" resultMap="userResult">
        select * from user where user_id=#{id};
    </select>

    <select id="getUserByUserIdAndPassword" parameterType="java.lang.String" resultMap="userResult">
        select * from user where user_id=#{id} and password=#{password};
    </select>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="userResult">
        select * from user where id=#{id};
    </select>

    <insert id="createUser" parameterType="com.louis296.car_sale.model.dao.User">
        insert into user(user_id, password, user_name, phone, create_time, update_time)
        VALUES (#{userId},#{password},#{userName},#{phone},now(),now());
    </insert>
</mapper>